spring:
  application:
    name: pcbuilder
    oauth2:
      authorized-redirect-uris: http://localhost:3000/oauth2/redirect,http://localhost:8080/oauth2/redirect
  security:
    oauth2:
        client:
          registration:
            google:
              client-id: ${GOOGLE_CLIENT_ID}
              client-secret: ${GOOGLE_CLIENT_SECRET}
              scope:
                - email
                - profile
              redirect-uri: "{baseUrl}/oauth2/callback/{registrationId}"

            github:
              client-id: ${GITHUB_CLIENT_ID}
              client-secret: ${GITHUB_CLIENT_SECRET}
              scope:
                - user:email
                - read:user
              redirect-uri: "{baseUrl}/oauth2/callback/{registrationId}"


            facebook:
              client-id: ${FACEBOOK_CLIENT_ID}
              client-secret: ${FACEBOOK_CLIENT_SECRET}
              scope:
                - email
                - public_profile
              redirect-uri: "{baseUrl}/oauth2/callback/{registrationId}"
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB
      enabled: true
      file-size-threshold: 2KB
      location: "${java.io.tmpdir}"

  datasource:
    url: jdbc:postgresql://localhost:5432/pcbuilder_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        ddl-auto: update
  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: ${MAILTRAP_USERNAME}
    password: ${MAILTRAP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000
  refresh-expiration: 604800000
  temp-expiration: 300000

file:
  upload:
    dir: ./uploads
    max-size: 10485760
    allowed-extensions:
      -png
      -jpg
      -jpeg

