spring:
  application:
    name: pcbuilder

  datasource:
    url: jdbc:postgresql://localhost:5432/pcbuilder_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        ddl-auto: update
jwt:
  secret: your_jwt_secret_key
  expiration: 86400000
  refresh-expiration: 604800000